@media screen and (max-width: 1000px) {

    body {
        /* font-family: 'Lato', sans-serif; */
        height: auto;
        font-family: "DM Sans";
        font-family: "custom-Lato", sans-serif;
        /* padding: 0 25px; */
        /* transform: translateY(-100px); */
      }

      header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
      }

/* nav section starts here */
.desktopview{
    display: none;
}

.mobileview{
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* width: 100%; */
}

.logo-actionbuttons{
    padding: 15px 25px;
    position: fixed;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 13;
    top: 0;
}

.logocircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--main-color);
}

.hamburgermenu{
    height: 3px;
    width: 35px;
    background: var(--main-color);
    position: relative;
    border-radius: 3px;
}

.hamburgermenu::before{
    border-radius: 3px;
    content: "";
    position: absolute;
    transition: .5s;
    transform: translateY(-9px);
    height: 3px;
    width: 35px;
    background: var(--main-color);
}
.hamburgermenu::after{
    border-radius: 3px;
    content: "";
    position: absolute;
    transition: .5s;
    transform: translateY(9px);
    height: 3px;
    width: 35px;
    background: var(--main-color);
}

.actionbuttons{
    border: 2px solid tomato;
    display: flex;
    justify-content: right;
    /* align-items: flex-end; */
    margin-top: 60px;
    /* position: fixed; */
    /* width: 60%; */
    z-index: 12;
    padding-right: 20px;
}

.actionbuttons ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.actionbuttons ul li{
    justify-content: center;
    align-items: flex-end;
    /* border: 2px solid black; */
    margin: 0;
    padding: 0;
}

.actionbuttons ul li a{
    margin: 0;
    font-size: 35px;
}
/* nav section ends here */

/* hero section starts here */
.hero-section{
    padding: 30px 10px;
}


.hero-section h1{
    font-size: 40px;
}

.hero-section p{
    font-size: 15px;
    margin: 0 20px;
}
/* hero section ends here */

/* services starts here */
.section2 .items{
    display: none;
}
/* services ends here */


/* toos and experience starts here */
.section4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row1{
    justify-content: center;
    align-items: center;
    padding: none;
}

.flexing-item1{
    margin: 0 0 20px 0;
}

.img-flex{
    display: none;
}
/* toos and experience ends here */

/* courses-section starts here */
.courses-section{
    padding: 0 10px;
}
/* courses-section ends here */

/* connect section starts here */
.message-fast{
    flex-direction: column;
    align-items: flex-start;
}

.right-div{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    width: 100%;
    margin: 0;
}

.sub_right-div{
    /* margin-bottom: 20px; */
    padding: 0;

    
}

.left-div{
    width: 100%;
    padding: 0;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.messagetag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* connect section ends here */

/* footer starts here */
.footer-contents{
    flex-direction: column;
}

.footer-contents p{
    font-size: 18px;
    text-align: center;
}

.footer-contents ul{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contents li{

    margin-top: 5px;
}

.footer-contents a{
    font-size: 15px;

}

/* footer ends here */
}